#div1, #div2{
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
.c1{
    background-color: #fff82fa9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.c2{
    background-color: rgb(109, 210, 126);
}

